@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    background-color: #6200EB;
   font-family: 'Roboto', sans-serif;
}

.wifi{
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wifi svg{
    width: 40vw;
    height: 40vh;
}

/* Container */
.switch {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 40px;
  }
  
  /* Cache l'input checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* Slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border-radius: 34px;
    transition: 0.4s;
  }
  
  /* Rond qui se déplace */
  .slider::before {
    position: absolute;
    content: "";
    height: 35px;
    width: 35px;
    left: 3px;
    bottom: 3px;
    background-color: #ae2d57;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  /* Quand la checkbox est cochée */
  .switch input:checked + .slider {
    background-color: #00000047;
  }
  
  .switch input:checked + .slider::before {
    transform: translateX(70px);
  }
  
  .indicative{
    margin-top: 3%;
    display: flex;
    align-items: center;
    gap: 34px;
    
  }

h1{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    font-size: 2.8em;
    letter-spacing: 8px;
}

.wifi-btn {
  background-color: #f0f0f0;        /* Couleur secondaire douce */
  border: 1px solid #ccc;
  border-radius: 20px;              /* Bords arrondis */
  padding: 10px 20px;
  margin: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.wifi-btn:hover {
  background-color: #e0e0e0;        /* Hover léger */
}

#details {
  background-color: #1e1e1e;
  color: #00ff88;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  white-space: pre-wrap;
  font-family: monospace;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
